<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>

        <table class="table">

          <tbody>
            <tr>
          	  <th>name</th>
          	  <th><%=current_user.name%></th>

            </tr>
            <tr>
          	  <th>introduction</th>
          	  <th><%=current_user.introduction%></th>
            </tr>
          </tbody>
        </table>



        <div class="row">




        </div>
        <h2>New book</h2>
        <%= form_with model: Book.new do |f| %>


          <h4>タイトル</h4>
            <%= f.text_field :title %>

            <h4>本文</h4>
            <%= f.text_area :body %>

            <%= f.submit '投稿' %>
        <% end %>


      <h2>Users</h2>

      <table>
      <% @users.each do |user| %>
        <tr>
          <th>name</th>
          <th><%= user.name%></th>


          <th></th>
        </tr>

        <tr>


        </tr>
      <% end %>
      </table>

      </div>

    </div>
  </div>
</main>